################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HomeWork/bin/Debug/net8.0
/HomeWork/obj
/HomeWork.Test/bin/Debug/net8.0
/HomeWork.Test/obj
